.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDFDFE; /* Neue Hintergrundfarbe */
  min-height: 70vh; /* Höhe des Viewports */
  position: relative; /* Position relativ zum Container */
}

.csstext-page {
  padding: 5px 70px;
  background-color: #FDFDFE; /* Neue Hintergrundfarbe */
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  width: 1300px;
  font-family: 'Lato', sans-serif; /* Lato Schriftart */
  font-size: 1rem; /* Schriftgröße für den gesamten Text */
  color: #5c6269;
}

/* Überschriften */
.csstext-page h1, .csstext-page h2 {
  color: #444;
  margin-bottom: 16px;
  font-family: 'Lato', sans-serif; /* Lato Schriftart */
  font-weight: 700;
}

/* Bilder */
.csstext-page img {
  width: 50%; /* Bildbreite auf 50% der Containerbreite setzen */
  max-width: 500px; /* Maximalbreite auf 500px begrenzen */
  height: auto; /* Höhe automatisch anpassen */
  margin: 24px 0;
}

/* Styling für allgemeine <code>-Blöcke */
.csstext-page code {
  background-color: #f4f4f4; /* Grauer Hintergrund */
  color: #333; /* Schwarze Schrift */
  border-radius: 4px;
  overflow-x: auto;
  display: inline-block; /* Inline-Block-Darstellung */
  max-width: 100%; /* Verhindert, dass der Codeblock breiter als der Container wird */
  padding: 3px; /* Padding für den Codeblock */
  font-family: 'Courier New', Courier, monospace; /* Monospace-Schriftart */
  font-size: 0.9rem; /* Kleinere Schriftgröße */
  vertical-align: middle
}

/* Styling für <pre> mit <code> */
.csstext-page pre code {
  display: block;
  white-space: pre-wrap; /* Zeilenumbrüche innerhalb des Blocks */
}

/* Spezifisches Styling für .css-code */
.csstext-page code.css-code {
  background-color: #2d2d2d; /* Dunkler Hintergrund */
  color: #ffffff; /* Weiße Schrift */
  border-radius: 4px;
  padding: 12px; /* Etwas mehr Padding */
  font-family: 'Courier New', Courier, monospace; /* Monospace-Schriftart */
  font-size: 0.9rem; /* Schriftgröße */
  overflow-x: auto;
}

/* Styling für Kommentare innerhalb von .css-code */
.csstext-page code.css-code .comment {
  color: #888888; /* Farbe für Kommentare */
}

/* Media Query für kleinere Bildschirme */
@media (max-width: 768px) {
  .csstext-page img {
    width: 100%; /* Bildbreite auf 100% der Containerbreite setzen */
    max-width: none; /* Maximalbreite aufheben */
  }
}
