.footer {
    background-color: #FDFDFE; /* Neue Hintergrundfarbe */
    color: #454A4F; /* Neue Schriftfarbe */
    padding: 20px;
    text-align: center;
    border-top: 1px solid #dee2e6;
    font-family: 'Lato', sans-serif; /* Lato Schriftart */
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer a {
    color: #E64E58; /* Neue Highlight-Farbe für Links */
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.highlight {
    color: #E64E58; /* Neue Highlight-Farbe */
}

/* RTL Styles */
.websiteinhalt-rtl {
    direction: rtl; /* Ändert die Leserichtung auf RTL */
}