header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #FDFDFE; /* Neue Hintergrundfarbe */
    border-bottom: 1px solid #dee2e6;
    max-height: 100px;
    min-height: 50px; /* Mindesthöhe */
    font-family: 'Lato', sans-serif;
    transition: max-height 1.0s ease, min-height 0.5s ease; /* Smooth transition */
    overflow: visible; /* Sicherstellen, dass overflow nicht hidden ist */
    position: relative; /* Position relativ zum Container */
    z-index: 10; /* Sicherstellen, dass der Header über anderen Inhalten liegt */
}

.title-link {
    text-decoration: none; /* Entfernt die Unterstreichung */
    color: inherit; /* Übernimmt die Farbe des übergeordneten Elements */
  }

header.expanded {
    max-height: 400px; /* Erhöht die Höhe des Headers, wenn das Menü geöffnet ist */
    min-height: 200px; /* Mindesthöhe im erweiterten Zustand */
}

.logo-title-container {
    display: flex;
    align-items: center;
}

header img {
    height: 90px; /* Logo nutzt die gesamte Höhe des Headers */
    margin: 0 5px;
}

.header-text {
    display: flex;
    flex-direction: column;
    margin: 0 5px; /* Abstand zwischen Logo und Text */
}

header h1 {
    font-size: 1.5rem;
    color: #454A4F; /* Neue Schriftfarbe */
    margin: 0;
}

header h1 .highlight {
    color: #E64E58; /* Neue Highlight-Farbe */
}

header h2 {
    font-size: 1rem;
    color: #454A4F; /* Neue Schriftfarbe */
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif; /* Lato Schriftart */
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 10px 10px 0px 10px;
    position: relative; /* Für das Dropdown-Menü */
}

nav ul li a {
    color: #454A4F; /* Neue Schriftfarbe */
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Lato', sans-serif; /* Lato Schriftart */
    line-height: 1.5; /* Zeilenhöhe */
}

nav ul li a:hover {
    color: #E64E58; /* Neue Highlight-Farbe beim Hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FDFDFE; /* Hintergrundfarbe des Dropdowns */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Box-Shadow für das Dropdown */
    z-index: 20; /* Sicherstellen, dass das Dropdown über anderen Inhalten liegt */
    min-width: 200px; /* Mindestbreite des Dropdowns */
    top: 100%; /* Position unter dem Menüpunkt */
    left: 0; /* Ausrichtung an der linken Seite */
}

.dropdown-content a {
    color: #454A4F; /* Schriftfarbe */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Lato', sans-serif; /* Lato Schriftart */
    border-bottom: 1px solid #dee2e6; /* Linie zwischen den Punkten */
}

.dropdown-content a:last-child {
    border-bottom: none; /* Keine Linie beim letzten Element */
}

.dropdown-content a:hover {
    color: #E64E58; /* Schriftfarbe beim Hover */
}

.dropdown:hover .dropdown-content {
    display: block; /* Dropdown anzeigen beim Hovern */
}

.search-container {
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif; /* Lato Schriftart */
    margin: 5px 1px;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px; /* Mehr Padding */
    border: 2px solid #E64E58; /* Highlight-Farbe für Border */
    border-radius: 20px; /* Abgerundete Ecken */
    background-color: #FDFDFE; /* Hintergrundfarbe */
    color: #454A4F; /* Schriftfarbe */
    cursor: pointer;
    outline: none;
    width: 100%;
    max-width: 250px;
    font-family: 'Lato', sans-serif; /* Lato Schriftart */
    line-height: 1.5; /* Zeilenhöhe */
}

.search-input {
    border: none; /* Keine Rahmen */
    background-color: transparent; /* Transparenter Hintergrund */
    color: #454A4F; /* Textfarbe */
    outline: none;
    font-size: 1rem; /* Gleiche Schriftgröße wie Navbar */
    font-family: 'Lato', sans-serif; /* Lato Schriftart */
    flex-grow: 1;
}

.search-icon {
    color: #E64E58; /* Neue Highlight-Farbe der Lupe */
    margin: 0 5px;
}

.menu-toggle {
    display: none; /* Standardmäßig ausgeblendet */
    background: none;
    border: none;
    color: #454A4F; /* Neue Schriftfarbe */
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 24px;
    transition: transform 0.3s ease;
    overflow: visible; /* Sicherstellen, dass overflow nicht hidden ist */
    margin: 0 5px;
    padding: 0;
}

.menu-toggle .bar {
    display: block;
    background: #454A4F; /* Neue Schriftfarbe */
    width: 100%;
    height: 2px;
    margin: 6px 0;
    transition: all 0.5s ease; /* Transition hinzufügen */
}

.menu-toggle.active .bar {
    background: #E64E58; /* Neue Highlight-Farbe des X-Icons */
}

.menu-toggle.active .one {
    transform: rotate(45deg) translateY(11.5px);
}

.menu-toggle.active .two {
    width: 0;
}

.menu-toggle.active .three {
    transform: rotate(-45deg) translateY(-11.5px);
}

.menu-icon {
    width: 100%; /* Stellt sicher, dass das Icon die gesamte Breite des Containers nutzt */
    height: auto; /* Beibehaltung des Seitenverhältnisses */
    transition: transform 0.3s ease;
}

.lato-regular {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", serif;
  font-weight: 700;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", serif;
  font-weight: 300;
  font-style: normal;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    header {
        flex-direction: column; /* Sicherstellen, dass Logo und Text untereinander bleiben */
        align-items: flex-start;
        padding: 7px;
    }

    .logo-title-container {
        flex-direction: row; /* Logo und Titel nebeneinander */
        align-items: center;
    }

    header img {
        height: 50px;
    }

    header h1 {
        font-size: 1rem;
    }

    nav {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    nav.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }

    .search-container {
        margin-left: 0; /* Entferne das linke Margin */
        margin-top: 10px;
        width: 100%;
        justify-content: flex-start; /* Links ausrichten */
    }

    .search-input {
        width: 100%;
        max-width: 300px;
    }

    .menu-toggle {
        display: block;
    }
}

@media (max-width: 800px) {
    header {
        flex-direction: column; /* Sicherstellen, dass Logo und Text untereinander bleiben */
        align-items: flex-start;
        padding: 7px;
    }

    .logo-title-container {
        flex-direction: row; /* Logo und Titel nebeneinander */
        align-items: center;
    }

    header img {
        height: 50px;
    }

    header h1 {
        font-size: 1rem;
    }

    header h2 {
        display: none; /* Verstecke das h2-Element */
    }

    nav {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    nav.open {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }

    .search-container {
        margin-left: 0; /* Entferne das linke Margin */
        margin-top: 10px;
        width: 100%;
        justify-content: flex-start; /* Links ausrichten */
    }

    .search-input {
        width: 100%;
        max-width: 300px;
    }

    .menu-toggle {
        display: block;
    }
}

/* RTL Styles */
.websiteinhalt-rtl {
    direction: rtl; /* Ändert die Leserichtung auf RTL */
}

.websiteinhalt-rtl .menu-toggle.active .one {
    transform: rotate(-45deg) translateY(11.5px);
}

.websiteinhalt-rtl .menu-toggle.active .two {
    width: 0;
}

.websiteinhalt-rtl .menu-toggle.active .three {
    transform: rotate(45deg) translateY(-11.5px);
}