.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDFDFE; /* Neue Hintergrundfarbe */
  min-height: 70vh; /* Höhe des Viewports */
  position: relative; /* Position relativ zum Container */
  z-index: 1; /* Sicherstellen, dass die Landing Page unter dem Header liegt */
}

.landing-page {
  padding: 5px 70px;
  background-color: #FDFDFE; /* Neue Hintergrundfarbe */
  display: flex;
  max-width: fit-content;
  flex-direction: column;
  width: 1000px;
  font-family: 'Lato', sans-serif; /* Lato Schriftart */
  font-size: 1rem; /* Schriftgröße für den gesamten Text */
  color: #5c6269;
}

.landing-page h2 {
  font-size: 1.5rem;
  color: #454A4F; /* Neue Schriftfarbe */
  font-family: 'Lato', sans-serif; /* Lato Schriftart */
  font-weight: 700; /* Dickere Schrift */
  margin: 0px 0;
}

.intro-text {
  color: #5c6269; /* Neue Schriftfarbe */
  font-family: 'Lato', sans-serif; /* Lato Schriftart */
  font-size: 1rem;
  width: 100%; /* 2/3 der Seite */
  margin: 20px 0; /* Entfernt den horizontalen Abstand */
}